extends layout.pug
block content
  div(class='container mymain')
    h3= 'Canvas Assignment Information'
    ul
        li= 'Course: ' + coursename + ' (' + courseid + ')'
        li= 'Assignment: ' + assignmentname + ' (' + assignmentid + ')'

    h3= 'Choose Target Assignment Directory.'
    div(class='list-group')
        for dir in dirs
            a(class="list-group-item list-group-item-action" href='/assignmentlink/'+dir)= dir
    
