extends layout.pug
block content
  h3= 'Instruction'
  div(id='instruction' class='card')
    div(id='instructionbody' class='card-body')!= instruction

  if dependency && dependency.length > 0
    h3= 'Dependency files'
    ul
      for item in dependency
        li
          p= item.filename + ' '
            button(class='btn btn-info btn-sm' type='button' data-toggle='collapse' data-target='#collapse'+item.filename.replace('.', '_') aria-expanded='false' aria-controls='collapse'+item.filename.replace('.', '_'))='Click to Expand'
            div(class='collapse' id='collapse'+item.filename.replace('.', '_'))
              div(class='card card-body')
                pre
                  code= item.content


  h3= 'Submission'
  form(id='uploadForm' enctype='multipart/form-data')
    input(type='hidden' value='7' id='langid')
    ul
      for item in submissionfiles
        li
          p= item + ': '
            input(type='file' name='files')
    //input(type='submit' value='Submit' id='sendddd')
    button(type='button' class="btn btn-primary" id='send')= 'Submit'
  
  div(id='divoutput')

block script
  script(src='/diff.js')
  script(type="text/javascript").
    var form_being_submitted = false;

    //COMPILE USER GIVEN CODE
    $('#send').on('click', function() {
        if (form_being_submitted == false) {
          form_being_submitted = true;
          $("#send").addClass('disabled');
          $("#send").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
          $("#divoutput").html('');

          var formData = new FormData(document.getElementById('uploadForm'))
          //console.log(formData.get('files'));

          $.ajax({
              type: "POST",
              url: '/submit',
              data: formData,
              success: function(data, error, xhr) {
                console.log(data);
                $("#send").removeClass('disabled');
                $("#send").html('Submit');

                $("#divoutput").html(data);
                form_being_submitted = false;
              },
              error: function (data) {
                console.log('Error:', data);
                document.getElementById("error").innerHTML = data.error;
                form_being_submitted = false;
              },
              processData: false,
              contentType: false
          });
        }
    });

    



    //- h2= CourseID
    //- h2= userID
    //- h2= UserRole
    //- h2= FulllogTitle
    //- code= Fulllog
  
    
//-    style
//-      include ../public/stylesheets/style.css
    
    
    
//- https://getbootstrap.com/docs/4.0/components/carousel/
